<h1>My form!</h1>

<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <mat-form-field class="emailField">
    <mat-label> Your E-Mail </mat-label>
    <input matInput type="email" required name="inputEmail" ngModel email />
    <mat-error *ngIf="true"> Please enter a valid email address </mat-error>
  </mat-form-field>

  <br />
  <br />

  <form-text
    required
    hexadecimal
    name="hexadecimalValue"
    placeholder="Enter a hexadecimal value"
    [(ngModel)]="hexadecimalValue"
    [attr.aria-required]="true"
  >
  </form-text>

  <br />
  <br />

  <form-select
    required
    name="dropdownValue"
    placeholder="Select a dropdown value"
    [(ngModel)]="dropdownValue"
  >
  </form-select>

  <button type="Submit">Submit</button>
</form>
